// STYLES FOR ELEMENTS - including basic html elements and "custom" created elements

@import 'variables';



// HTML ELEMENTS
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $theme;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  height: 300px;
  padding: 10px;
  text-align: center;
  background-color: $theme;
  color: $accent;
  a, h5, small {
    opacity: .5;
  }
  a {
    font-size: 18px;
  }
}

h1 {
  font-size: 32px;
  margin: 0 0 16px 0;
  font-weight: normal;
  line-height: normal;
}

h2 {
  width: 100%;
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 8px 0;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 8px 0;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 8px 0;
}

h5 {
  font-size: 18px;
  margin: 0 0 8px 0;
}

h6 {
  font-size: 16px;
  margin: 0 0 8px 0;
}

p {
  width: 100%;
  margin: 0 0 8px 0;
  line-height: 1.5;
}

strong {
  font-weight: 300;
  text-decoration: underline;
}

em {
  text-decoration: underline;
  color: $secondary;
}

small {
  font-size: 12px;
  line-height: 1.25;
}

dt {
  width: 140px;
}

dd {
  width: 115px;
  margin: 0;
  word-wrap: break-word;
}

li {
  line-height: 1.5;
}

hr {
  margin: 16px;
  opacity: .25;
}

svg[confirm] {
  font-size: 75px;
  color: $success;
}

svg[big] {
  font-size: 100px;
}

svg[medium] {
  font-size: 48px;
}

svg[small] {
  font-size: 24px;
}

svg.small {
  font-size: 24px;
  margin: 0 5px;
}

svg.medium {
  font-size: 24px;
  padding: 16px;
  margin: 0 4px 4px;
}

img[small] {
  width: 25px;
  height: 25px;
}
