@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import 'structure';
@import 'elements';
@import 'variables';



// components
.title {
  margin: 0 auto 50px auto;
  max-width: 600px;
}

.section {
  margin: 25px 0 25px 0;
}



// state styles
[click] {
  cursor: pointer;
  transition: 250ms all;
}

[click]:hover {
  transform: scale(1.02);
}

.click {
  cursor: pointer;
  transition: 250ms all;
}

.click:hover {
  transform: scale(1.02);
}

.click:focus {
  transform: scale(1);
}



// spacing
[margin] {
  margin: 10px;
}

[padding] {
  padding: 10px;
}

.margin {
  margin: 10px;
}

.padding {
  padding: 10px;
}



// random styles
[back] {
  color: royalblue;
  cursor: pointer;
}

[check] {
  color: green;
  font-size: 14px;
}

[highlight] {
  outline: 1px solid $alert;
}

[errors] {
  color: $alert;
  text-align: center;
}



// colors
.green {
  color: $success;
}

.royal {
  color: royalblue;
}

.red {
  color: $red;
}

.gold {
  color: $gold;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.blue-green {
  color: $blue-green;
}

.purple {
  color: $purple;
}

.burgundy {
  color: $burgundy;
}
