//global colors
$primary: #182033;
$secondary: #a5c0ce;
$accent: #c2c1bd;
$qs-background: rgba(24, 32, 51, .85);
$alert: #ff4d4d;
$success: #40bf80;
$gold: #e2d976;
$orange: #f2a63c;
$blue-green: #2e7175;
$purple: #4b2d56;
$burgundy: #590a04;
$blue: #293e70;

// box shadow
$box-shadow: 2px 2px 2px 2px #e5e5e5;
